<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item active">
                <img src="https://github.com/RodrigoBaba.png" alt="Imagem do user" width="50px" class="img-fluid rounded-circle">
            </li>
            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-white fs-16">Rodrigo N. Baba</p>
            </li>            
            <li class="nav-item">
                <a href="">
                    <span class="ml-3 text-white fs-16"><i class="fa-solid fa-pen-to-square"></i></span>
                </a>                
            </li>
        </ul>
        
        <ul class="nav-item m-0">
            <a class="font-weight-bold text-white fs-16">Sair <i class="fa-solid fa-right-from-bracket"></i></a>
        </ul>

    </div>
</nav>